VITE_API_URL=http://localhost:8000/api
VITE_APP_API_KEY=YOUR-APP-API-KEY #Same as the backend app api key. This is used to authenticate requests from the frontend to the backend.
VITE_USE_MOCK_API=false
