DATABASE_URL=YOUR-DATABASE-URL #Replace with your own database URL. This is used to connect to your PostgreSQL database.
APP_API_KEY=YOUR-APP-API-KEY #Replace with your own app api key. This is used to authenticate requests from the frontend to the backend.
ASSEMBLYAI_API_KEY=YOUR-ASSEMBLYAI-API-KEY #Replace with your
OPENAI_API_KEY=YOUR-API-KEY #Replace with your OpenAI API key. This is used to access OpenAI's GPT models for generating responses and summaries.
